*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: yellow;
}
h2{
    margin:1%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.csoportc{
    font-size: medium;
}
.keret{
    background-color: white;
    padding:10px;
}
.menu{
    text-align: center;
    border: 1px solid black;
}
.focim{
    text-align: center;
    font-size: 300%;
    font-style: italic;
    margin-bottom: 40px;
    z-index: 11;
}
a{
    color: black;
    text-decoration: none;
}
.current{
    font-weight: bolder;
    border: solid Black 3px;
    border-radius: 50%;
    
}
.tabla1{
    display: flex;
    flex-wrap: wrap;
}
.bekezd{
    margin: 1%;
    flex-basis: 98%;
    text-indent: 5%;
    text-align: justify;
}
.bekezd3{
    margin: 1%;
    flex-basis: 98%;
    text-indent: 5%;
    text-align: justify;
    margin-bottom: 0;
    padding-bottom: 0;
}
.csopkep{
    margin-top: 0;
}
.bekezd2{
    margin: 1%;
    margin-bottom: 5%;
    flex-basis: 98%;
    text-indent: 2%;
    text-align: justify;
}
.utolso{
    text-indent: 0%;
    font-style: italic;
}
.td1{
    margin: 1%;
    flex-basis: 98%;
}
.alcim{
    font-weight: bold;
    margin-left:1%;
    margin-bottom: 1%;
    text-decoration: underline;
}
.foot{
    flex-basis: 98%;
    margin: 1%;
    font-size: 80%;
    font-style: italic;
    margin-top:10%;

}
.bevez{
    margin-left: 1%;
}
.navm{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.oto{
   border: 1px solid black; 
   max-width: 98%;
   margin: 1%;
   margin-bottom: 0%;
}
ul{
    margin-bottom: 1%;
}
li{
    margin:0;
    padding:0;
    margin-bottom: 0;
}
.csoportkep{
    align-self: center;
}
figcaption {
    margin: 1%;
    color: gray;
}
a:hover{
    color: red;
    font-weight: bold;
    background-image: url("hatter2.jpg");
    border: solid black 2px;
}
.nagykep{
    size: 80%;
}
.kepala{
    font-style: italic;
    font-size: 90%;
    text-align: center;
    max-width: 98%;
    min-width: 95%;
    margin-bottom: 3%;
    
}